* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #ff5e97; 
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    min-height: 100vh;        /* Força o body a ocupar a altura total da tela */
    margin: 0;
    font-family: 'Arial', sans-serif;
}
